# ---------------------------------------------------
# 1. DATA AND ARTIFACTS 
# ---------------------------------------------------
# Ignore ALL contents inside the data folder
data/*

# EXCEPTION: UN-IGNORE the README file inside the data folder
!data/README.md

# Ignore specific file extensions everywhere
*.csv
*.tsv
*.xlsx
*.parquet
*.npy
*.pt
*.pth
*.joblib
*.pkl
*.h5

# ---------------------------------------------------
# 2. PYTHON / ENVIRONMENT / CACHE
# ---------------------------------------------------
# Byte-compiled files
__pycache__/
*.pyc
*.pyd

# Dependencies/Virtual Environments
.venv/
env/
venv/
pip-log.txt
dist/

# Jupyter / Colab
.ipynb_checkpoints
/content/drive # Ignore all content mounted from Drive

# Operating System Files
.DS_Store 
*~
